@using TechJobsPersistent.ViewModels;
@model AddJobViewModel;

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="Name">Job Title</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <!-- form field of drop down menu to add employer info to job -->
    <div class="form-group">
        <label asp-for="EmployerId">Employer</label>
        <select asp-for="EmployerId" asp-items="Model.Employers"></select>
        <span asp-validation-for="EmployerId"></span>
        <br />
        <a asp-controller="Employer" asp-action="Add">Add Employer</a>
    </div>
    <input type="submit" value="Add Job" />
</form>


